# **Chicago Crime Data vs Weather - 2016**

In [33]:
import pandas as pd
import numpy as np

In [34]:
crime_categories = pd.read_csv('CrimeCategories.csv')
weather = pd.read_csv('temperature_2016.csv')
crime = pd.read_csv('Crime_data_2016.csv')

In [6]:
crime.head()

,Unnamed: 0,Case Number,Primary Type,Date,ShortDate,Hour,Year,DateConvert
0,646621,JA119772,THEFT,12/31/2016 23:59,12/31/2016,23,2016,4270523
1,646622,JA100016,BATTERY,12/31/2016 23:58,12/31/2016,23,2016,4270523
2,646623,JA100012,BATTERY,12/31/2016 23:55,12/31/2016,23,2016,4270523
3,646624,JA100027,LIQUOR LAW VIOLATION,12/31/2016 23:55,12/31/2016,23,2016,4270523
4,646625,JA100839,CRIMINAL DAMAGE,12/31/2016 23:54,12/31/2016,23,2016,4270523

#### Here we merge our weather and crime data then convert the ShortDate back into datetime format

In [7]:
df = pd.merge(weather, crime, on =['ShortDate','Hour'])
df['ShortDate'] = pd.to_datetime(df['ShortDate'],format='%m/%d/%Y')
print(df['ShortDate'].dtype)

datetime64[ns]

In [41]:
tot_count = df.groupby(['Primary Type','Temp_Farenheit']).count()
crime_categories.rename(columns={'crime primary type':'Primary Type'},inplace=True)
combined_df = df.merge(crime_categories, how='inner',on='Primary Type')
combined_df

,datetime,ShortDate,Hour,DateConvert_x,Chicago,Temp_Farenheit,Unnamed: 0,Case Number,Primary Type,Date,Year,DateConvert_y,bucket
0,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915396,HZ100075,BATTERY,1/1/2016 0:55,2016,423700,Personal
1,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915400,HZ100077,BATTERY,1/1/2016 0:46,2016,423700,Personal
2,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915401,HZ100044,BATTERY,1/1/2016 0:45,2016,423700,Personal
3,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915403,HZ122194,BATTERY,1/1/2016 0:45,2016,423700,Personal
4,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915404,HZ100062,BATTERY,1/1/2016 0:45,2016,423700,Personal
5,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915407,HZ100032,BATTERY,1/1/2016 0:36,2016,423700,Personal
6,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915413,HZ103526,BATTERY,1/1/2016 0:30,2016,423700,Personal
7,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915414,HZ100088,BATTERY,1/1/2016 0:30,2016,423700,Personal
8,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915415,HZ100039,BATTERY,1/1/2016 0:30,2016,423700,Personal
9,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915416,HZ101144,BATTERY,1/1/2016 0:30,2016,423700,Personal
10,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915419,HZ100040,BATTERY,1/1/2016 0:30,2016,423700,Personal
11,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915421,HZ100013,BATTERY,1/1/2016 0:25,2016,423700,Personal
12,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915424,HZ100056,BATTERY,1/1/2016 0:23,2016,423700,Personal
13,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915427,HZ100018,BATTERY,1/1/2016 0:20,2016,423700,Personal
14,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915428,HZ100121,BATTERY,1/1/2016 0:15,2016,423700,Personal
15,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915429,HZ102836,BATTERY,1/1/2016 0:15,2016,423700,Personal
16,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915431,HZ100022,BATTERY,1/1/2016 0:14,2016,423700,Personal
17,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915432,HZ100035,BATTERY,1/1/2016 0:12,2016,423700,Personal
18,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915437,HZ100014,BATTERY,1/1/2016 0:05,2016,423700,Personal
19,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915440,HZ100015,BATTERY,1/1/2016 0:02,2016,423700,Personal
20,1/1/2016 0:00,2016-01-01,0,423700,269.470523,25.376941,915581,HZ107053,BATTERY,1/1/2016 0:01,2016,423700,Personal
21,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915344,HZ100526,BATTERY,1/1/2016 1:45,2016,423701,Personal
22,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915346,HZ100082,BATTERY,1/1/2016 1:37,2016,423701,Personal
23,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915347,HZ100105,BATTERY,1/1/2016 1:37,2016,423701,Personal
24,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915348,HZ100097,BATTERY,1/1/2016 1:35,2016,423701,Personal
25,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915349,HZ100091,BATTERY,1/1/2016 1:30,2016,423701,Personal
26,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915351,HZ100789,BATTERY,1/1/2016 1:30,2016,423701,Personal
27,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915353,HZ100101,BATTERY,1/1/2016 1:30,2016,423701,Personal
28,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915354,HZ100555,BATTERY,1/1/2016 1:30,2016,423701,Personal
29,1/1/2016 1:00,2016-01-01,1,423701,269.010000,24.548000,915355,HZ100092,BATTERY,1/1/2016 1:30,2016,423701,Personal
...,...,...,...,...,...,...,...,...,...,...,...,...,...
269051,1/29/2016 15:00,2016-01-29,15,4239815,269.480000,25.394000,896802,HZ133234,NON - CRIMINAL,1/29/2016 15:30,2016,4237015,Other
269052,2/2/2016 7:00,2016-02-02,7,424027,273.070000,31.856000,894134,HZ137710,NON - CRIMINAL,2/2/2016 7:00,2016,424017,Other
269053,2/6/2016 11:00,2016-02-06,11,4240611,270.120000,26.546000,891363,HZ142394,NON - CRIMINAL,2/6/2016 11:20,2016,4240111,Other
269054,2/10/2016 9:00,2016-02-10,9,424109,262.600000,13.010000,889037,HZ146595,NON - CRIMINAL,2/10/2016 9:07,2016,424019,Other
269055,2/13/2016 0:00,2016-02-13,0,424130,266.077428,19.269371,887373,HZ149851,NON - CRIMINAL,2/13/2016 0:11,2016,424010,Other
269056,1/30/2016 17:00,2016-01-30,17,4239917,277.089804,39.091647,895977,HZ134665,OTHER NARCOTIC VIOLATION,1/30/2016 17:48,2016,4237017,Statutory
269057,6/25/2016 23:00,2016-06-25,23,4254623,304.350000,88.160000,789687,HZ323642,OTHER NARCOTIC VIOLATION,6/25/2016 23:45,2016,4252223,Statutory
269058,6/25/2016 23:00,2016-06-25,23,4254623,304.350000,88.160000,789693,HZ323631,OTHER NARCOTIC VIOLATION,6/25/2016 23:22,2016,4252223,Statutory
269059,12/13/2016 10:00,2016-12-13,10,4271710,266.720000,20.426000,658754,HZ550015,OTHER NARCOTIC VIOLATION,12/13/2016 10:30,2016,4270510,Statutory
269060,2/1/2016 0:00,2016-02-01,0,424010,278.277205,41.228968,895026,HZ182313,HUMAN TRAFFICKING,2/1/2016 0:01,2016,424010,Personal
269061,3/1/2016 0:00,2016-03-01,0,424300,276.760000,38.498000,876353,HZ192829,HUMAN TRAFFICKING,3/1/2016 0:00,2016,424300,Personal
269062,4/24/2016 17:00,2016-04-24,17,4248417,294.580000,70.574000,837656,HZ241210,HUMAN TRAFFICKING,4/24/2016 17:00,2016,4246117,Personal
269063,5/31/2016 13:00,2016-05-31,13,4252113,295.750000,72.680000,810137,HZ318594,HUMAN TRAFFICKING,5/31/2016 13:00,2016,4249113,Personal
269064,7/12/2016 13:00,2016-07-12,13,4256313,298.490000,77.612000,776658,HZ346030,HUMAN TRAFFICKING,7/12/2016 13:00,2016,4255213,Personal
269065,8/1/2016 10:00,2016-08-01,10,4258310,291.240000,64.562000,760608,HZ415939,HUMAN TRAFFICKING,8/1/2016 10:00,2016,4258310,Personal
269066,8/30/2016 6:00,2016-08-30,6,426126,295.390000,72.032000,737455,HZ413034,HUMAN TRAFFICKING,8/30/2016 6:02,2016,425836,Personal
269067,9/3/2016 15:00,2016-09-03,15,4261615,294.850000,71.060000,733749,HZ419320,HUMAN TRAFFICKING,9/3/2016 15:15,2016,4261415,Personal
269068,9/4/2016 0:00,2016-09-04,0,426170,294.080000,69.674000,733388,HZ445465,HUMAN TRAFFICKING,9/4/2016 0:00,2016,426140,Personal
269069,9/24/2016 12:00,2016-09-24,12,4263712,291.790000,65.552000,717294,HZ453182,HUMAN TRAFFICKING,9/24/2016 12:00,2016,4261412,Personal
269070,10/12/2016 8:00,2016-10-12,8,426558,290.074000,62.463200,703948,HZ512953,HUMAN TRAFFICKING,10/12/2016 8:00,2016,426448,Personal
269071,2/25/2016 16:00,2016-02-25,16,4242516,274.200000,33.890000,879336,HZ164940,PUBLIC INDECENCY,2/25/2016 16:40,2016,4240116,Personal
269072,5/12/2016 12:00,2016-05-12,12,4250212,289.870000,62.096000,824860,HZ261462,PUBLIC INDECENCY,5/12/2016 12:15,2016,4249112,Personal
269073,5/13/2016 7:00,2016-05-13,7,425037,284.130000,51.764000,824276,HZ262482,PUBLIC INDECENCY,5/13/2016 7:34,2016,424917,Personal
269074,5/28/2016 16:00,2016-05-28,16,4251816,297.360000,75.578000,812418,HZ283654,PUBLIC INDECENCY,5/28/2016 16:22,2016,4249116,Personal
269075,6/16/2016 15:00,2016-06-16,15,4253715,293.880000,69.314000,797236,HZ310340,PUBLIC INDECENCY,6/16/2016 15:40,2016,4252215,Personal
269076,6/30/2016 9:00,2016-06-30,9,425519,286.650000,56.300000,786349,HZ338168,PUBLIC INDECENCY,6/30/2016 9:04,2016,425229,Personal
269077,8/5/2016 4:00,2016-08-05,4,425874,298.340000,77.342000,757560,HZ378869,PUBLIC INDECENCY,8/5/2016 4:10,2016,425834,Personal
269078,8/19/2016 5:00,2016-08-19,5,426015,295.670000,72.536000,746265,HZ398178,PUBLIC INDECENCY,8/19/2016 5:10,2016,425835,Personal
269079,8/28/2016 18:00,2016-08-28,18,4261018,300.390000,81.032000,738661,HZ411008,PUBLIC INDECENCY,8/28/2016 18:40,2016,4258318,Personal
269080,9/11/2016 17:00,2016-09-11,17,4262417,295.590000,72.392000,727439,HZ429838,PUBLIC INDECENCY,9/11/2016 17:13,2016,4261417,Personal